@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  [ngCombobox]:focus-within .select {
    outline: 2px solid #45474E;
    outline-offset: 2px;
  }

  .select {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--mat-sys-on-surface);
    background-color: #E1E2ED;
    border-bottom: 1px solid #45474E;

    &:hover {
      background-color: #D1D2DD;
    }

    &:has([ngComboboxInput][aria-disabled='true']) {
      opacity: 0.6;
      cursor: default;
    }

    .combobox-label {
      gap: 1rem;
      left: 1rem;
      display: flex;
      position: absolute;
      align-items: center;
      pointer-events: none;
    }

    .arrow {
      right: 1rem;
      position: absolute;
      pointer-events: none;
      transition: transform 150ms ease-in-out;
    }

    [ngComboboxInput] {
      opacity: 0;
      border: none;
      cursor: pointer;
      height: 55px; // mimic height of material fields
      padding: 0 3rem;

      &[aria-expanded='true'] ~ .arrow {
        transform: rotate(180deg);
      }
    }
  }

  .popup-container {
    width: 100%;
    padding: 0.5rem;
    margin-top: 8px;
    background-color: #ebebf4;
    font-size: 0.9rem;
    max-height: 13rem;
    opacity: 1;
    visibility: visible;
    transition: max-height 150ms ease-out,
    visibility 0s,
    opacity 25ms ease-out;

    [ngListbox] {
      gap: 2px;
      padding: 2px;
      height: 100%;
      display: flex;
      overflow: auto;
      flex-direction: column;
    }

    [ngOption] {
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 0 1rem;
      min-height: 3rem;

      &:hover,
      &[data-active='true'] {
        background-color: color-mix(in srgb, blue 5%, transparent);
      }

      &[data-active='true'] {
        outline-offset: -2px;
        outline: 2px solid #45474E;
      }

      &[aria-selected='true'] {
        color: var(--mat-sys-on-surface);
        background-color: color-mix(in srgb, var(--mat-sys-on-surface) 10%, transparent);
      }

      &:not([aria-selected='true']) .option-check {
        display: none;
      }
    }

    .option-check {
      font-size: 0.9rem;
    }

    .option-text {
      flex: 1;
    }
  }

  [ngCombobox]:has([ngComboboxInput][aria-expanded='false']) .popup-container {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 150ms ease-in,
    visibility 0s 150ms,
    opacity 150ms ease-in;
  }

  [ngCombobox]:has([ngComboboxInput][aria-expanded='true']) [ngListbox] {
    display: flex;
  }
}
