:host {
  .rating {
    display: flex;
    mat-icon {
      cursor: pointer;
      color: #ccc;
      transition: color 0.2s;

      &.filled {
        color: #f5b301;
      }

      &:not(.disabled) {
        &:focus {
          outline: 2px solid #007acc;
        }
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
      }
    }
  }
}