<h3 mat-dialog-title>Add Entry</h3>
<mat-dialog-content>
  <div class="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Add the title of the movie"
        [field]="movieForm.title"
      >
      @if (movieForm.title().invalid() && movieForm.title().touched()) {
        <mat-error>
          @for (error of movieForm.title().errors(); track error.kind) {
            {{ error.message }}
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select [field]="movieForm.genre">
        @for (genre of movieGenres; track genre) {
          <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>
      @if (movieForm.genre().invalid() && movieForm.genre().touched()) {
        <mat-error>
          @for (error of movieForm.genre().errors(); track error.kind) {
            {{ error.message }}
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Where to watch</mat-label>
      <mat-select [field]="movieForm.streamingService">
        @for (streamingService of streamingServices; track streamingService) {
          <mat-option [value]="streamingService">{{ streamingService }}</mat-option>
        }
      </mat-select>
      @if (movieForm.streamingService().invalid() && movieForm.streamingService().touched()) {
        <mat-error>
          @for (error of movieForm.streamingService().errors(); track error.kind) {
            {{ error.message }}
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Runtime</mat-label>
      <input
        matInput
        type="number"
        placeholder="Add the runtime of the movie"
        [field]="movieForm.runtime | nullableField"
      >
      <mat-hint>In minutes</mat-hint>
      @if (movieForm.runtime().invalid() && movieForm.runtime().touched()) {
        <mat-error>
          @for (error of movieForm.runtime().errors(); track error.kind) {
            {{ error.message }}
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select [field]="movieForm.priority">
        @for (priority of priorityLevels; track priority) {
          <mat-option [value]="priority">{{ priority }}</mat-option>
        }
      </mat-select>
      @if (movieForm.priority().invalid() && movieForm.priority().touched()) {
        <mat-error>
          @for (error of movieForm.priority().errors(); track error.kind) {
            {{ error.message }}
          }
        </mat-error>

      }
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="onClose()">Cancel</button>
  <button matButton (click)="onCreate()">Create</button>
</mat-dialog-actions>
