:host {
  [ngOption] {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 1rem;
    min-height: 3rem;
    border-radius: 3rem;

    &:hover,
    &[data-active='true'] {
      background-color: color-mix(in srgb, red 5%, transparent);
    }

    &[data-active='true'] {
      outline-offset: -2px;
      outline: 2px solid var(--primary);
    }

    &[aria-selected='true'] {
      color: var(--primary);
      background-color: color-mix(in srgb, var(--primary) 10%, transparent);
    }

    &:not([aria-selected='true']) .option-check {
      display: none;
    }
  }

  .option-check {
    font-size: 0.9rem;
  }

  .option-text {
    flex: 1;
  }
}
