:host {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;

  header {
    display: flex;
    padding: 8px 16px;
    color: var(--mat-sys-primary);
    background: var(--mat-sys-primary-container);

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px 16px;

      a {
        padding: 16px;
      }
    }
  }

  main {
    display: flex;
    padding: 8px 16px;
    flex: 1;
    overflow: hidden;


    router-outlet {
      flex: 1;
    }
  }
}