:host {

  header {
    display: flex;
    padding: 8px 16px;
    color: var(--mat-sys-primary);
    background: var(--mat-sys-primary-container);

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px 16px;

      a {
        padding: 16px;
      }
    }
  }

  main {
    padding: 8px 16px;
  }
}