:host {
  display: flex;
  flex-direction: column;

  app-page-header {
    flex: 0;
  }
  form {
    flex: 1;
    overflow: hidden;

    .movie-entry {
      display: flex;
      flex-direction: column;

      .entry-header {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-between;
      }
    }

    .movie-form {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      gap: 8px;

      @media (min-width: 600px) and (max-width: 1199px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 1200px) and (max-width: 1599px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .form-entry {
        display: flex;
        flex-direction: column;

        .content {
          height: 56px;
        }

        .error {
          height: 19.5px;
        }
      }

      .watched-container {
        display: flex;
        align-items: center;
        padding: 0 16px 0 8px;
      }

      .rating-container {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
      }
    }
  }
}