<app-page-header
  title="Reactive Form Watchlist"
  (addEntry)="onAddEntry()"
  (save)="onSave()"
/>
<form>
  <div ngAccordionGroup class="basic-accordion" [multiExpandable]="false">
    @for (entry of movieFormArray.controls; track entry; let index = $index; let last = $last) {
      <div ngAccordionTrigger [panelId]="`form-entry-${index}`" #trigger="ngAccordionTrigger"
           [expanded]="index === autExpandedFormEntry()">
        <app-accordion-title [isExpanded]="trigger.expanded()">
          <div class="entry-header">
            <div class="title-container">
              <span class="entry-title">{{ entry.controls.title.getRawValue() }}</span>
              <span class="entry-title"> - Watched: </span>
              @if (entry.controls.watched.getRawValue()) {
                <mat-icon fontIcon="check" class="watched-icon" />
              } @else {
                <mat-icon fontIcon="close" class="not-watched-icon" />
              }
            </div>
            <mat-icon
              class="delete-icon"
              fontIcon="delete"
              (click)="onDelete(index, entry.controls.title.getRawValue())"
              (keydown.enter)="onDelete(index, entry.controls.title.getRawValue())"
            />
          </div>
        </app-accordion-title>
      </div>
      <div ngAccordionPanel [panelId]="`form-entry-${index}`">
        <ng-template ngAccordionContent>
          <div class="movie-entry">
            <div class="movie-form">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                  matInput
                  placeholder="Add the title of the movie"
                  [formControl]="entry.controls.title"
                >
                @if (entry.controls.title.hasError('required')) {
                  <mat-error>The title is required!</mat-error>
                }
              </mat-form-field>

              <div class="form-entry select-box-container">
                <mat-label class="select-box-label">Genre *</mat-label>
                <div class="select-box-content">
                  <app-select-box
                    [entries]="movieGenres()"
                    [selectedEntry]="[entry.controls.genre.getRawValue() ?? '']"
                    (selectedEntryChange)="onMovieGenreSelect($event[0], entry.controls.genre)"
                  />
                  @if (entry.controls.genre.hasError('required')) {
                    <mat-error>The genre is required!</mat-error>
                  }
                </div>
              </div>

              <div class="form-entry select-box-container">
                <mat-label class="select-box-label">Where to watch *</mat-label>
                <div class="select-box-content">
                  <app-select-box
                    [entries]="streamingServices()"
                    [selectedEntry]="[entry.controls.streamingService.getRawValue() ?? '']"
                    (selectedEntryChange)="onSteamingServiceSelect($event[0], entry.controls.streamingService)"
                  />
                  @if (entry.controls.streamingService.hasError('required')) {
                    <mat-error>The streaming service is required!</mat-error>
                  }
                </div>
              </div>

              <mat-form-field>
                <mat-label>Runtime</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Add the runtime of the movie"
                  [formControl]="entry.controls.runtime"
                >
                <mat-hint>In minutes</mat-hint>
              </mat-form-field>

              <div class="form-entry select-box-container">
                <mat-label class="select-box-label">Priority *</mat-label>
                <div class="select-box-content">
                  <app-select-box
                    [entries]="priorityLevels()"
                    [selectedEntry]="[entry.controls.priority.getRawValue() ?? '']"
                    (selectedEntryChange)="onPriorityLevelSelect($event[0], entry.controls.priority)"
                  />
                  @if (entry.controls.priority.hasError('required')) {
                    <mat-error>The priority is required!</mat-error>
                  }
                </div>
              </div>

              <div class="form-entry watched-container">
                <div class="content">
                  <mat-checkbox [formControl]="entry.controls.watched">Watched</mat-checkbox>
                </div>
                <div class="error"></div>
              </div>

              <div class="form-entry rating-container">
                <div class="content">
                  <mat-label>Rating</mat-label>
                  <app-reactive-form-rating [formControl]="entry.controls.rating" />
                </div>
                <div class="error">
                  @if (entry.controls.rating.hasError('rating-applied-but-not-watched')) {
                    <mat-error>The rating can only be applied when the movie was watched!</mat-error>
                  }
                </div>
              </div>
            </div>
          </div>
          @if (!last) {
            <hr>
          }
        </ng-template>
      </div>
    } @empty {
      <div ngAccordionTrigger panelId="empty" #triggerEmpty="ngAccordionTrigger"
           [expanded]="true">
        <app-accordion-title [isExpanded]="triggerEmpty.expanded()">
          No entry.
        </app-accordion-title>
      </div>
      <div ngAccordionPanel panelId="empty">
        <ng-template ngAccordionContent>
          <div class="movie-entry">
            There are no entries in your watchlist!
          </div>
        </ng-template>
      </div>
    }
  </div>
</form>
